@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

main, body {
    background-color: #B7A18C;
}

body {
    justify-content: space-between;
}

/*Цвета */
.white {
    color: #CFC7BA;
}

.grey {
    color: #544F4C;
}

/* Шрифты */
a {
    text-decoration: none;
    color: #28272C;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p, button, label {
    color: #28272C;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 150%;
}

h1 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

h2 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

h3 {
    color: #28272C;
    font-family: Playfair Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

h4 {
    color: #28272C;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

h5 {
    color: #28272C;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/*Кнопки */
button {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.border_btn {
    width: 250px;
    height: 55px;
    border: 2px solid #845946;
    background: none;
    color: #28272C;
}

.center {
    margin: auto;
    margin-top: 20px;
}

/* Шапка сайта */
header {
    width: 100%;
    background-color: #B7A18C;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* Подвал сайта */
footer {
    width: 100%;
    background-color: #46312C;
    margin-top: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;

}

.menu_footer, .left_footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.vk {
    width: 24px;
    height: 24px;
}

/*Главная страница */
.site-index {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.left_index {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.right_index {
    width: 60%;
}

.pic_index_img {
    width: 100%;
}

.top_left_index {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.bottom_left_index {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iti {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto;
    width: 90%;
}

.entrance {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
}

/*Регистрация и авторизация */
.block_brown {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 190px 100px 190px;
    margin: 100px auto;
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

