.center {
    margin: auto;
    margin-top: 20px;
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.blok {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    position: fixed;
    background-color: #B7A18C;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 2px 2px 10px #845946;
}

.center:hover {
    background: rgba(132, 89, 70, 0.8);
}