.menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0 auto;
}

.menu a {
    padding: 5px 10px;
}

.burger {
    display: none;
    position: fixed;
    z-index: 2001;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.burger.active span:nth-child(2) {
    width: 0%;
    transform: translateX(50%);
}

.burger.active span:nth-child(1) {
    transform: rotateZ(-45deg) translateX(-12px);
}

.burger.active span:nth-child(3) {
    transform: rotateZ(45deg) translateX(-12px);
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #CFC7BA;
    transition: .3s;
}

@media screen and (max-width: 930px) {
    
    .menu {
        position: fixed;
        flex-direction: column;
        z-index: 2000;
        gap: 10px;
        right: 40px;
        backdrop-filter: blur(10px);
        background-color: rgba(207, 199, 186, 0.40);
        padding: 40px;

        transition: .3s;
    }

    .menu.hide{
        right: -100%
    }

    .burger {
        display: flex;
       
    }


}