.center {
    margin: auto;
    margin-top: 20px;
}

.left {
    text-align: left;
}

.posts, .posts_profile {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

.posts_profile {
    width: 90%;
}

.top_post, .text_post {
    display: flex;
    flex-direction: row; 
}

.text_post {
    gap: 10px;
}

.content_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.bottom_post {
    padding-top: 5px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.div_okr {
    width: 228px;
    height: 309px;
    background: #845946;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.div_border {
    width: 265px;
    height: 345px;
    border: 2px solid #CFC7BA;
    position: absolute;
}

.photo {
    width: 285px;
    height: 365px;
    position: relative;
}

.content {
    width: calc(100% - 325px);
    margin-top: 40px;
}

.profile {
    width: 80%;
    margin: 0 auto;
}

.profile_div {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    margin: 0 auto;
    padding: 100px;
    padding: 40px;
}

.profile_top {
    display: flex;
    flex-direction: row;
}

.div_first_btn {
    background: rgba(132, 89, 70, 0.24);
    backdrop-filter: blur(25px);
    width: 190px;
    height: 34px;
    padding-top: 16px;
}

.post_btn {
    border-top: 2px solid #845946;
    border-right: 2px solid #845946;
    border-left: 2px solid #845946;
    width: 190px;
    height: 50px;
    background: none;
    color: #28272C;
    border-bottom: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.border_btn {
    width: 250px;
    height: 55px;
    border: 2px solid #845946;
    background: none;
    color: #28272C;
}

.best_work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.all_work {
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.add_work {
    width: 190px;
    height: 250px;
    border: 2px solid #F5F5F5;
    background: none;
    color: #F5F5F5;
}

.white {
    color: #F5F5F5;
    text-align: center;
    margin: auto;
    margin-top: 49%;
}

.work {
    width: 190px;
    height: 250px;
}

.filled_btn {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.img {
    position: absolute;
    width: 245px;
    height: 325px;
    right: -5px;
    bottom: -5px;
}

.container {
    min-height: 55vh;
}

.file {
    display: none;
}

.post_btn:hover {
    border-top: 2px solid #CFC7BA;
    border-right: 2px solid #CFC7BA;
    border-left: 2px solid #CFC7BA;
    color: #CFC7BA;
}

.exit {
    cursor: pointer;
    margin-left: 170px;
    margin-top: -250px;
}