.bottom_left_index {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.border_btn {
    width: 250px;
    height: 55px;
    border: 2px solid #845946;
    background: none;
    color: #28272C;
}

.filled_btn {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}