.center {
    margin: auto;
    margin-top: 20px;
}

.left {
    text-align: left;
}

.posts, .posts_profile {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

.posts_profile {
    width: 90%;
}

.top_post, .text_post {
    display: flex;
    flex-direction: row; 
}

.text_post {
    gap: 10px;
}

.content_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.bottom_post {
    padding-top: 5px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.div_okr {
    width: 228px;
    height: 309px;
    background: #845946;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.div_border {
    width: 265px;
    height: 345px;
    border: 2px solid #CFC7BA;
    position: absolute;
}

.photo {
    width: 285px;
    height: 365px;
    margin-right: 80px;
    position: relative;
}

.content {
    width: calc(100% - 325px);
    margin-top: 40px;
}

.profile {
    width: 80%;
    margin: 0 auto;
}

.profile_div {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    margin: 0 auto;
    padding: 100px;
    padding: 40px;
}

.profile_top {
    display: flex;
    flex-direction: row;
}

.div_first_btn {
    background: rgba(132, 89, 70, 0.24);
    backdrop-filter: blur(25px);
    width: 190px;
    height: 34px;
    padding-top: 16px;
}

.post_btn {
    border-top: 2px solid #845946;
    border-right: 2px solid #845946;
    border-left: 2px solid #845946;
    width: 190px;
    height: 50px;
    background: none;
    color: #28272C;
    border-bottom: none;
}

.post_btn:hover {
    border-top: 2px solid #CFC7BA;
    border-right: 2px solid #CFC7BA;
    border-left: 2px solid #CFC7BA;
    color: #CFC7BA;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.border_btn {
    width: 250px;
    height: 55px;
    border: 2px solid #845946;
    background: none;
    color: #28272C;
}

.border_btn:hover {
    border: 2px solid #CFC7BA;
    color: #CFC7BA;
}

.filled_btn {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.img {
    position: absolute;
    width: 245px;
    height: 325px;
    right: -20px;
    bottom: -5px;
}

@media screen and (max-width: 930px) {
    .bottom_post {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .post {
        width: auto;
        padding: 10px;
    }

    .div_okr, .div_border {
        display: none;
    }

    .top_post {
        flex-direction: column;
    }

    .img {
        right: auto;
        bottom: 0;
        width: 220px;
        height: 300px;
    }

    .img_like {
        position: absolute;
        right: 10px;
    }

    .photo {
        margin-right: 0;
        width: 220px;
        height: 300px;
        margin: 0 auto;
    }

    .content {
        width: auto;
        margin-top: 20px;
    }

    .post_btn {
        width: 70px;
    }

    .div_first_btn {
        width: 100%;
        max-width: 190px;
    }

    .profile_div {
        padding: 20px 10px
    }

    .profile {
        width: 90%;
    }
}