.line {
    background-color: #46312C;
    width: 100%;
    height: 35px;
    padding-top: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    min-height: 50vh;
}

.filled_btn {
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.select, .option {
    background-color: transparent;
    border: none;
    color: #CFC7BA;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #CFC7BA;
    padding-bottom: 2px;
}

.filter {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

@media screen and (max-width: 930px) {
    .line {
        height: 80px;
    }

    .filter {
        flex-direction: column;
        gap: 20px;
    }

    .container {
        width: 100%;
    }
}