.center {
    margin: auto;
    margin-top: 20px;
    background: #845946;
    width: 250px;
    height: 55px;
    border: none;
    color: #CFC7BA;
}

.block_brown {
    background: rgba(132, 89, 70, 0.24);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(25px);
    padding: 80px 190px 100px 190px;
    margin: 0 auto;
    width: 720px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
}

input, .select, .option {
    background: rgba(207, 199, 186, 0.40);
    width: 400px;
    height: 20px;
    margin: 0 auto;
    border: none;
    padding: 14px 20px;
    color: #544F4C;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.select {
    width: 440px;
    height: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}