.container {
    width: 100%;
    background-color: #46312C;
    margin-top: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin: 0 auto;
}

.menu_footer,
.left_footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.menu_footer>a {
    color: #CFC7BA;
}

.vk {
    width: 24px;
    height: 24px;
    background-image: url(./../../img/vk.svg);
}

.white {
    color: #CFC7BA;
}

@media screen and (max-width: 930px) {
    .menu_footer {
        display: none;
       
    }

    .left_footer {
        flex-direction: column;
    }
}